@using HelpWithAll.Core.Models
@model Customer



@{
    IEnumerable<ValidationErrorModel>? validationErrors = null;
    var validationErrorsObject = base.ViewData["validation_errors"];

    if(validationErrorsObject is IEnumerable<ValidationErrorModel>) {
        validationErrors = validationErrorsObject as IEnumerable<ValidationErrorModel>;
    }
}
@if(validationErrors != null) {
    <ul>
        @foreach(var validationErrorItem in validationErrors) {
            <li>
                <b>@validationErrorItem.Property</b> <span>@validationErrorItem.Message</span>
            </li>
        }
    </ul>
}

<form method="post" asp-controller="Customer" asp-action="CreateCustomer">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Surname" class="form-label">Surname</label>
        <input asp-for="Surname" class="form-control">
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control">
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>