@model Customer

<form method="post" asp-controller="Customer" asp-action="CreateCustomer">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Surname" class="form-label">Surname</label>
        <input asp-for="Surname" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>