@model Customer

<form method="post" asp-controller="Customer" asp-action="UpdateCustomer" enctype="application/x-www-form-urlencoded">
    <input type="hidden" asp-for="Id">

    <div class="mb-1">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="mb-1">
        <label asp-for="Surname" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Surname">
    </div>

    <div class="mb-1">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" class="form-control" asp-for="Email">
    </div>

    <div class="mb-1">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input type="text" class="form-control" asp-for="PhoneNumber">
    </div>


    <button class="btn btn-primary">Change</button>
</form>
