
@model Helper
@{
        IEnumerable<ValidationErrorModel>? validationErrors = null;
        var validationErrorsObject = base.ViewData["validation_errors"];

        if(validationErrorsObject is IEnumerable<ValidationErrorModel>) {
                validationErrors = validationErrorsObject as IEnumerable<ValidationErrorModel>;
        }
}

<form method="post" asp-controller="Helper" asp-action="UpdateHelper" enctype="application/x-www-form-urlencoded">
    <input type="hidden" asp-for="Id">

    <div class="mb-1">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-1">
        <label asp-for="Surname" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Surname">
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>

    <div class="mb-1">
        <label asp-for="Profession" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Profession">
        <span class="text-danger" asp-validation-for="Profession"></span>
        
    </div>

    <div class="mb-1">
        <label asp-for="PaymentPerHour" class="form-label"></label>
        <input type="text" class="form-control" asp-for="PaymentPerHour">
        <span class="text-danger" asp-validation-for="PaymentPerHour"></span>
    </div>

    <div class="mb-1">
        <label asp-for="Experience" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Experience">
        <span class="text-danger" asp-validation-for="Experience"></span>
    </div>

    <div class="mb-1">
        <label asp-for="Age" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Age">
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>

    <div class="mb-1 form-check">
        <input class="form-check-input" asp-for="Avalibility" type="checkbox">
        <label class="form-check-label" asp-for="Avalibility">Are you available now?</label>
        <span class="text-danger" asp-validation-for="Avalibility"></span>
    </div>

    <div class="mb-1">
        <label asp-for="Rating" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Rating">
        <span class="text-danger" asp-validation-for="Rating"></span>
    </div>

    <button class="btn btn-primary">Change</button>
</form>
